.blogs-container{
    margin: 50px  100px 100px 100px;
}
.blog{
    color: white;
    background-color:darkorchid;
    border: 1px solid blueviolet;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
.blog h3{
    text-align: left;
}
.blog p{
    text-align: justify;
}