.home-page {
    background-image: url("Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    color:rgb(206, 249, 14);
    font-family: Monospace;
}

.home-page h1 {
    font-size: 60px;
    font-weight: 1000;
    margin: 30px;
    background-color:cadetblue;
    border: 1px solid black;
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .home-page {
        background-size: cover;
    }
    .home-page h1 {
        font-size: 30px;
        font-weight: 600;
    }
}