.question-section {
    background-color: #ab6af6;
    margin: 30px;
    padding: 15px;
    border-radius: 15px;
}

.question {
    font-size: medium;
    text-align: left;
}

.question-answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.question-answer button {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
}

.options {
    padding: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 767px) {
    .question-section {
        background-color: #ab6af6;
        margin: 15px;
        padding: 10px;
        border-radius: 15px;
    }
}