.topic-container {
    border-radius: 20px;
    display: flex;
    padding: 20px;
    margin: 20px;
    background-color: darkorchid;
}

.topic-container:hover {
    background-color:blueviolet;
    box-shadow: 0 12px 18px 0 rgba(247, 246, 247, 0.24), 0 17px 50px 0 rgba(51, 11, 88, 0.322);
}

.img-container img {
    height: 150px;
    width: 150px;
    border-radius: 30px;
}

.details-container {
    margin-left: 20px;
    text-align: left;
}

.details-container button {
    padding: 5px 10px;
    background-color:darkcyan;
    border: 1px solid darkcyan;
}

.details-container a {
    text-decoration: none;
    color: white;
}

.details-container button:hover {
    font-weight: 600;
    background-color: cadetblue;
}


@media screen and (max-width: 767px) {
    .topic-container {
        align-items: center;
        justify-content: center;
    }

}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .topic-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .details-container {
        text-align: center;
    }
}