nav {
    background-color:cadetblue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.main-name {
    color:rgb(64, 0, 92);
    font-size: larger;
    font-weight: 1000;
}
nav a {
    color:rgb(42, 9, 73);
    font-weight: bolder;
    text-decoration: none;
    padding: 30px;
}

nav a:hover {
    color:rgb(225, 249, 4);
    font-weight: 900;

}
.bar-icon {
    height: 30px;
    width: 30px;
    background-color: #c8d6ca;
}



@media screen and (max-width: 767px) {
    .nav-links {
        display: grid;
        grid-template-columns: 1fr;
    }

    .position1 {
        position: absolute;
        top: 60px;
        background-color: #c8d6ca;

    }

    .position2 {
        position: absolute;
        top: -300px;
    }

}

@media screen and (min-width: 767px) {
    .bar-icon {
        display: none;
    }
}
